@page "/"
@using Azure.AI.OpenAI;
@using Azure;
@using Markdig;
@using System.Text;
@using AzureOpenAIChat.Models;


@using Microsoft.Extensions.Logging;
@using Microsoft.SemanticKernel;
@using Microsoft.SemanticKernel.Planning;
@using Microsoft.SemanticKernel.Skills.OpenAPI.Extensions;

@inject IConfiguration _configuration
@inject IJSRuntime _jsRuntime
<PageTitle>Index</PageTitle>
<style>
    textarea {
        border: 1px dashed #888;
        border-radius: 5px;
        width: 80%;
        overflow: auto;
        background: #f7f7f7;        `
    }

    /* improved CSS for speech bubbles */

    .assistant, .user {
        position: relative;
        font-family: arial;
        font-size: 1.1em;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

        .assistant:after, .user:after {
            content: '';
            border: 20px solid transparent;
            position: absolute;
            margin-top: -30px;
        }

    .user {
        background: #03a9f4;
        color: #fff;
        margin-left: 20%;
        margin-right: 100px;
        top: 30%;
        text-align: left;
    }

    .assistant {
        background: #4CAF50;
        color: #fff;
        margin-left: 100px;
        margin-right: 20%;
    }

    .user:after {
        border-left-color: #03a9f4;
        border-right: 0;
        right: -20px;
    }

    .assistant:after {
        border-right-color: #4CAF50;
        border-left: 0;
        left: -20px;
    }

    .msg {
        font-size: medium;
    }
</style>
<h1>Semantic Kernel - Step Planner</h1>
@* <p style="font-size:small"><b>Total Tokens:</b> @TotalTokens</p> *@
<div id="chatcontainer" style="height:550px; width:80%; overflow: auto;">
    @foreach (var item in ChatMessages)
    {
        <div>
            @if (item.Role == ChatRole.User)
            {
                <div style="float: right; margin-right: 20px; margin-top: 10px">
                    <b>User</b>
                </div>
                <div class="@item.Role">
                    <div class="msg">
                        @item.Content
                    </div>
                </div>
            }

            @if (item.Role == ChatRole.Assistant)
            {
                <div style="float: left; margin-left: 20px; margin-top: 10px">
                    <b>ChatGPT&nbsp;&nbsp;</b>
                </div>
                <div class="@item.Role">
                    <div class="msg">
                        @if (item.Content != null)
                        {
                            @((MarkupString)item.Content.ToHtml())
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (!Processing)
{
    <textarea rows="3" cols="60" @bind="prompt" />
    <br />
    <button class="btn btn-primary"
    @onclick="CallChatGPT">
        Call ChatGPT
    </button>
    <span>&nbsp;</span>
    <button class="btn btn-info"
    @onclick="RestartChatGPT">
        Restart
    </button>
}
else
{
    <br>
    <h4>Processing...</h4>
}
<br /><p style="color:red">@ErrorMessage</p>


@code {
    string Endpoint = "";
    string DeploymentOrModelName = "";
    string Key = "";

    List<ChatMessage> ChatMessages = new List<ChatMessage>();
    string prompt = "I have $2130.23. How much money would I have if it grew by 5.25% and after I bought a $10 latte from Starbucks?";
    string ErrorMessage = "";
    bool Processing = false;
    int TotalTokens = 0;

    protected override void OnInitialized()
    {
        // Get the Azure OpenAI Service configuration values
        Endpoint =
        _configuration["AzureOpenAIServiceOptions:Endpoint"] ?? "";

        DeploymentOrModelName =
        _configuration["AzureOpenAIServiceOptions:DeploymentOrModelName"] ?? "";

        Key =
        _configuration["AzureOpenAIServiceOptions:Key"] ?? "";

        // Create a new list of ChatPrompt objects and initialize it with the
        // system's introductory message
        string SystemMessage = "You are helpful Assistant.";
        SystemMessage += "You will always reply with a Markdown formatted response.";

        ChatMessages.Add(
            new ChatMessage(
            ChatRole.System,
            SystemMessage)
        );
    }

    protected override async Task
    OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await _jsRuntime.InvokeAsync<string>(
                "ScrollToBottom", "chatcontainer"
            );
        }
        catch
        {
            // do nothing if this fails
        }
    }

    async Task CallChatGPT()
    {
        try
        {
            // Set Processing to true to indicate that the method is processing
            Processing = true;

            // Call StateHasChanged to refresh the UI
            StateHasChanged();

            // Clear any previous error messages
            ErrorMessage = "";

            // Add the new message to chatMessages
            ChatMessages.Add(new ChatMessage(ChatRole.User, prompt));

            // Create a logger
            using ILoggerFactory loggerFactory = LoggerFactory.Create(builder =>
            {
                builder
                    .SetMinimumLevel(0)
                    .AddDebug();
            });

            var logger = loggerFactory.CreateLogger<Kernel>();

            // Create a kernel
            var kernelSettings = KernelSettings.LoadSettings();
            //IKernel kernel = new KernelBuilder()
            //    .WithCompletionService(kernelSettings)
            //    .WithLogger(logger)
            //    .Build();

            IKernel kernel = new KernelBuilder()
                .WithCompletionService(kernelSettings)
                .WithLoggerFactory(loggerFactory)
                .Build();

            // Add the math plugin using the plugin manifest URL
            const string pluginManifestUrl = "http://localhost:7071/.well-known/ai-plugin.json";
            //var mathPlugin = await kernel.ImportChatGptPluginSkillFromUrlAsync("MathPlugin", new Uri(pluginManifestUrl));

            var mathPlugin = await kernel.ImportAIPluginAsync("MathPlugin", new Uri(pluginManifestUrl));



            // Create a stepwise planner and invoke it
            var planner = new StepwisePlanner(kernel);
            var question = prompt; // "I have $2130.23. How much money would I have if it grew by 5.25% and after I bought a $10 latte from Starbucks?";
            var plan = planner.CreatePlan(question);
            var result = await plan.InvokeAsync(kernel.CreateNewContext());




            if (result.Variables.TryGetValue("stepCount", out string? stepCount))
            {
                var completion = new StringBuilder();
                completion.Append($"Answer: {result.Result}");
                completion.Append(Environment.NewLine);
                completion.Append(Environment.NewLine);

                foreach(var variable in result.Variables)
                {
                    var key = variable.Key;
                    var value = variable.Value;

                    if (key.ToUpper().Contains("INPUT"))
                    {
                        // skip
                    }
                    else if (key.Contains("stepsTaken"))
                    {
                        if (value.Contains("thought"))
                        {
                            string[] stepArray = value.Split(new string[] { "thought" }, StringSplitOptions.RemoveEmptyEntries);

                            foreach(var step in stepArray)
                            {
                                completion.Append($"{key}: {step}");
                                completion.Append(Environment.NewLine);
                                completion.Append(Environment.NewLine);
                            }

                            // Code to work with the parsed 'steps' array
                        }


                        // // Remove beginning and ending brackets from string
                        // var firstPass = value.TrimStart('[').TrimEnd(']');
                        // var secondPass = firstPass.Replace("\r\n", "");
                        // var thirdPass = System.Text.Json.JsonSerializer.Deserialize<StepsTaken>(secondPass);

                        // // if (thirdPass.Contains("thought"))
                        // // {
                        // //     string[] stepArray = value.Split(new string[] { "thought" }, StringSplitOptions.RemoveEmptyEntries);
                        // //     // Code to work with the parsed 'steps' array
                        // // }
                    }
                    else
                    {
                        completion.Append($"{key}: {value}");
                        // ChatMessages.Add(new ChatMessage(ChatRole.Assistant, @"{key}: {value}"));
                        completion.Append(Environment.NewLine);
                        completion.Append(Environment.NewLine);
                    }
                }
                
                ChatMessages.Add(new ChatMessage(ChatRole.Assistant, completion.ToString()));
                
                // ChatMessages.Add(new ChatMessage(ChatRole.Assistant, $"Answer: {result.Result}"));
            }

           
            // Update the total number of tokens used by the API
            //TotalTokens = TotalTokens + resultCompletions.Usage.TotalTokens;
        }
        catch (Exception ex)
        {
            // Set ErrorMessage to the exception
            // message if an error occurs
            ErrorMessage = ex.Message;
        }
        finally
        {
            // Clear the prompt variable
            prompt = "";

            // Set Processing to false to indicate
            // that the method is done processing
            Processing = false;

            // Call StateHasChanged to refresh the UI
            StateHasChanged();
        }
    }

    void RestartChatGPT()
    {
        prompt = "Write a 10 word description of Azure OpenAI";
        ChatMessages = new List<ChatMessage>();
        TotalTokens = 0;
        ErrorMessage = "";

        ChatMessages.Add(
            new ChatMessage(
                ChatRole.System, "You are helpful Assistant"
            )
        );

        StateHasChanged();
    }

}